@define-color background     #0a0a0a;
@define-color background-alt #161a1d;
@define-color foreground     #e9e9e9;
@define-color primary        #557b93;
@define-color secondary      #0197bb;
@define-color alert          #e90000;
@define-color disabled       #5a5a5a;

* {
    font-family: "DepartureMono Nerd Font", monospace;
    font-size: 13px;
    font-weight: bold;
    min-height: 3px;
}

window#waybar {
    background-color: @background;
    color: @foreground;
    border-top: 1px solid transparent;
}

#workspaces button {
    padding: 1px 6px;
    background-color: @primary;
    color: @disabled;
}

#workspaces button.active {
    background-color: @background-alt;
    color: @foreground;
    border-bottom: 2px solid @primary;
}

#workspaces button.urgent {
    background-color: @alert;
    color: @background;
}

#pulseaudio,
#mpris,
#niri-language,
#memory,
#cpu,
#battery,
#clock,
#tray {
    padding: 5 8px;
    color: @foreground;
}

#pulseaudio {
    color: @primary;
}

#memory,
#cpu {
    color: @primary;
}

#clock {
    color: @primary;
}

#battery.low {
    color: #e06c6c;
}

#tray {
    background-color: #1e1e2e;
}
